

    /* 3- Sections Style */ 
    /* 3.11- Footer Section */
    .footer{
        background: #1c1d21;
        text-align: center;
        padding: 60px 0;
    }
    .footer-links{
        list-style: none;
    }
    .footer-links li{
        display: inline-block;
        margin: 20px 0;
    }
    .footer-links li a{
        display: block;
        width: 50px;
        height: 50px;
        background: var(--maincolor);
        color: #fff;
        margin: 0 5px;
        border-radius: 50%;
    }
    .footer-links li a i{
        line-height: 50px;

    } 
    .footer .copyright{
        color:var(--graycolor);
        font-size: 15px;
        text-transform: uppercase;
    }
